.desain-arsitektur {
  background-color: #ffffff80;
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.desain-arsitektur .div {
  background-color: #ffffff80;
  height: 2700px;
  overflow: hidden;
  position: relative;
  width: 1440px;
}

.desain-arsitektur .overlap {
  height: 1053px;
  left: 111px;
  position: absolute;
  top: 160px;
  width: 1239px;
}

.desain-arsitektur .text-wrapper {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  height: 39px;
  left: 1029px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 882px;
  width: 160px;
}

.desain-arsitektur .rectangle {
  background-color: #b1907f;
  border: 3px solid;
  border-radius: 112px;
  height: 102px;
  left: 217px;
  position: absolute;
  top: 115px;
  width: 750px;
}

.desain-arsitektur .text-wrapper-2 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 32px;
  font-weight: 700;
  height: 48px;
  left: 264px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 141px;
}

.desain-arsitektur .rectangle-2 {
  background-color: #d9c2ad;
  border-radius: 59px;
  height: 654px;
  left: 403px;
  position: absolute;
  top: 399px;
  width: 837px;
}

.desain-arsitektur .text-wrapper-3 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: 60px;
  left: 801px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 444px;
}

.desain-arsitektur .group {
  height: 421px;
  left: 733px;
  position: absolute;
  top: 558px;
  width: 458px;
}

.desain-arsitektur .overlap-group {
  background-color: #b1907f;
  border-radius: 37px;
  height: 421px;
  position: relative;
  width: 456px;
}

.desain-arsitektur .penyampaian-data-dan {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 251px;
  left: 27px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 34px;
  width: 408px;
}
.desain-arsitektur .penyampaian-data-dan br {
  margin: 100px;
}

.desain-arsitektur .img {
  height: 1053px;
  left: 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  width: 688px;
}

.desain-arsitektur .text-wrapper-4 {
  color: #ffffff;
  font-family: "Inter", Helvetica;
  font-size: 24px;
  font-style: italic;
  font-weight: 700;
  height: 39px;
  left: 1130px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 3767px;
  width: 160px;
}

.desain-arsitektur .overlap-2 {
  height: 894px;
  left: 103px;
  position: absolute;
  top: 1343px;
  width: 1296px;
}

.desain-arsitektur .rectangle-3 {
  background-color: #d9c2ad;
  border-radius: 56px;
  height: 874px;
  left: 3px;
  position: absolute;
  top: 0;
  width: 1244px;
}

.desain-arsitektur .minimalist-brown {
  height: 693px;
  left: 0;
  position: absolute;
  top: 0;
  width: 434px;
}

.desain-arsitektur .minimalist-brown-2 {
  height: 615px;
  left: 872px;
  position: absolute;
  top: 279px;
  width: 424px;
}

.desain-arsitektur .text-wrapper-5 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: 60px;
  left: 696px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 79px;
}

.desain-arsitektur .overlap-wrapper {
  height: 482px;
  left: 160px;
  position: absolute;
  top: 193px;
  width: 458px;
}

.desain-arsitektur .div-wrapper {
  background-color: #b1907f;
  border-radius: 41px;
  height: 482px;
  position: relative;
  width: 456px;
}

.desain-arsitektur .pra-desain-atau {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 326px;
  left: 40px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 52px;
  width: 374px;
}

.desain-arsitektur .text-wrapper-6 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 40px;
  font-weight: 700;
  height: 60px;
  left: 246px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 79px;
}

.desain-arsitektur .overlap-group-wrapper {
  height: 482px;
  left: 658px;
  position: absolute;
  top: 193px;
  width: 458px;
}

.desain-arsitektur .pembayaran-termin-ke {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 24px;
  font-weight: 700;
  height: 329px;
  left: 36px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  top: 50px;
  width: 383px;
}

.desain-arsitektur .rectangle-4 {
  background-color: #b1907f;
  border-radius: 70px;
  height: 70px;
  left: 432px;
  position: absolute;
  top: 746px;
  width: 379px;
}

.desain-arsitektur .text-wrapper-7 {
  color: #ffffff;
  font-family: "Poppins", Helvetica;
  font-size: 36px;
  font-weight: 700;
  height: 54px;
  left: 464px;
  letter-spacing: 0;
  line-height: normal;
  position: absolute;
  text-align: center;
  top: 754px;
}
