@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&family=Titillium+Web:wght@300;400;700&display=swap');

:root{
    --mainColor:#735F4D;
    --secColor:#B1907F;
    --thirdColor:#d5b599;
    --lightText:#fcfcfc;
    --darkText:#2b2b2b;
}

#login{
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color:var(--mainColor);
    height: 100vh;
    background-image: url(../bgImg.png);
    background-repeat: no-repeat;
    background-position: right 0;
    background-size: contain;
    background-attachment: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.loginImg img{
    width: 30rem;
    float: right;
}

.loginCard{
    width: 25rem;
    background-color:var(--secColor);
    border-radius: 46px;
}


.loginForm{
    height: 100%;
    background-color:var(--thirdColor);
    border-radius: 30px;
}

.loginForm input{
    border-radius: 50px;
    border: none;
    padding: 4px;
    text-align: center;
}

.loginForm img{
    width: 45%;
    align-self: center;
}

@media only screen and (max-width: 1200px){
    #login{
        height: max-content;
    }

    #loginContainer{
        display: flex;
        flex-direction: column;
        padding: 0;
    }

    .loginImg img{
        width: 25rem;
        align-self: center;
    }

    .loginCard{
        width: 100%;
    }
}