.box {
  width: 1000px;
  height: 600px;
  margin: 0 auto;
  background-color: #b1907f;
  border: 5px solid;
  border-color: #d9c2ad;
  border-radius: 81px;
  padding: 50px;
}
.retangle{
  background-color: #d9c2ad;
  border-radius: 64px;
  height: 500px;
  width: 800px;
  margin: 0 auto;
  padding: 50px;
}

.content-logo{
    background-color: #b1907f;
    border-radius: 73px;
    height: 50px;
    width: 700px;
    margin: 0 auto;
}

Button {
  display: flex;
  border-style: none;
  margin: 0 auto;
  background-color: #b1907f;
  font-weight: 900;
}