:root{
    --mainColor:#735F4D;
    --secColor:#B1907F;
    --thirdColor:#d5b599;
    --lightText:#fcfcfc;
    --darkText:#2b2b2b;
}

.portofolio{
    font-family: 'Poppins', sans-serif;
    color:var(--lightText);
}
#section-one{
    height: max-content;
    margin: 0;
}

.section-card{
    background-color:var(--thirdColor);
    width: 552.51;
    height: 962.93;
    overflow: hidden;
    border-radius: 6.188rem;
    margin: 50px;
    transition: 0.3s;
}
.section-card:hover{
    background-color:var(--secColor);
    transform:skewY(10deg);
}
.section-card h3{
    color: white;
    font-size: 48px;
    font-weight: 700;
}

.section-card button{
    height: 48px;
    width: 239px;
    font-weight: 700;
    background-color:var(--secColor);
}

.section-card:hover button{
    color: var(--darkText);
    background-color:var(--thirdColor);
}

.section-card img{
    filter:drop-shadow(-1px -1px 5px #D9C2AD);
    width: 110%;
}